main { 
    max-width: 840px;
}

main img { 
    width: 150px;
    height: auto;
}

aside{
    width: 20rem;
    margin: 10px;
    border: 2px solid grey;
    padding: 10px;
    background-color: gainsboro;
    color: grey;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid gray;
    text-align: center;
}